body{
    margin: 0;
    background-color:orange;
    text-align: center;
    top: 5%;
    left:15%;
    right:15%;
    position: absolute;
    font-size:30px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: bisque;
}

h1{
    font-size:80px; border-style: dashed; text-decoration: ; color: yellow; text-align: center; 
}

a:hover {
    color: yellow; 
}

a{
    color: hotpink; text-decoration: none;
}