* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}


header,
section{
    background-color: red;
    padding: 40px 0;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px 0;
    min-height: calc(100vh - 2 * 40px);
}

.column1 {
    background-color: transparent;
    min-height: 100%;
}

.column2 {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: blue;
    height: 50%;
}

.subcolumn1 { 
    background-color: pink;
    min-height: 80%;
    margin-bottom: 10px;
}

.subcolumn2 {
    background-color: green;
    min-height: 10%;
}


