*{box-sizing: border-box; margin: 0px;}
body{margin:0px;}

#p1{background: black;}
.p1-1{background:red;
    width:70px;
    height: 70px;
    float: left;
    margin:15px;
    border:15px solid white;
    transform: rotate(45deg);
}
.p1-2{
    width:30px;
    height: 30px;
    background: red;
    float: left;
    transform: rotate(45deg);
    margin-top: 20px;
}


#p2{background: darkturquoise; }
.p2-1{
    width:30px;
    height: 30px;
    background: yellow;
    float: left;
    margin-top: 20px;
    transform: rotate(135deg);
    margin:15px;
    border-radius: 50% ;
}
.p2-2{
    width:30px;
    height: 73px;
    background: forestgreen;
    float: left;
    margin-top: 20px;
    transform: rotate(45deg);
}

.p2-3{
    width:30px;
    height:70px;
    background: yellowgreen;
    float: left;
    margin-top: 20px;
    transform: rotate(135deg);
}


#p3{background:purple; margin-left: 15px; margin-top: 15px}
.p3-1{
    width:120px;
    height:120px;
    float: left;
    margin:10px;
    transform: rotate(135deg);
    border:5px solid floralwhite;
    border-radius:60% black;
    margin-left: 10px;
    flood-opacity: 5px;
    filter: blur(5px)
}

#p4{background: dodgerblue;margin-top: 20px;margin:15px;}

.p4-1{
    width:50px;
    height:50px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
    margin-top: 0px;

}

.p4-2{
    width:75px;
    height:75px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
     margin-top:25px;
}
.p4-3{
    width:100px;
    height:100px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
     margin-top:50px;
}
.p4-4{
    width:125px;
    height:125px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
    margin-top: 100px;
}
.p4-5{
    width:150px;
    height:150px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
     margin-top: 150px;
}
.p4-6{
    width:15px;
    height:15px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
    margin-top:0px;

}

.p4-7{
    width:200px;
    height:200px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
     margin-top:5px;
}
.p4-8{
    width:225px;
    height:225px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
     margin-top:15px;
}
.p4-9{
    width:250px;
    height:250px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
     margin-top: 25px;
}
.p4-10{
    width:275px;
    height:275px;
    background: yellow;
    transform: rotate(135deg);
    border-radius: 50% ;
    float: left;
     margin-top: 30px;
}

#p5{background: dimgrey;}

.p5-1{
    width: 55px;
    height: 55px;
    background: slategrey;
    top: 1px;
    left:2px;
    border-top-left-radius: 118px;
    float:left;
}
.p5-2{
    width: 55px;
    height:55px;
    background: yellow;
    top: 1px;
    left:2px;
    border-top-left-radius: 118px;
    float:left;
}
.p5-3{
    width: 55px;
    height: 55px;
    background: silver;
    top: 1px;
    left:2px;
    border-top-left-radius: 118px;
    float:left;
}
.p5-4{
    width: 55px;
    height:55px;
    background: lightyellow;
    top: 1px;
    left:2px;
    border-top-left-radius: 118px;
    float:left;



